@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/* ####################################### */

nav{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    background: beige;
    padding: 10px;
    border-radius: 10px;
}

.section01{
    display: flex;
    justify-content: space-evenly;
}

.section01 .fa-ellipsis-vertical{
    font-size: 25px;
    margin-top: 5px;
    &:hover{
        cursor: pointer;
    }
}

.sub-items{
    position: relative;
    display: flex;
    gap: 5rem;
}

.sub-items .search-icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    &:hover{
        cursor: pointer;
    }
}

.sub-items input{
    margin-top: 3px;
    height: 2rem;
    width: 15rem;
    border-style: none;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 15px;
    &:focus{
        outline: none;
    }
}

.sub-items ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 7px;
}

.sub-items .main-sub li:hover{
    border-bottom: 1px solid black;
}

.sub-items ul li:hover{
    cursor: pointer;
}

.sub-items ul i{
    font-size: 20px;
}

.try-user{
    display: none;
    z-index: 1;
    width: 12rem;
    position: absolute;
    margin-left: 58rem;
    background: black;
    color: white;
    opacity: 0.6;
    border-radius: 10px;
    padding: 10px;
}

.try-user .same-try{
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        color: lightcoral;
    }
}

.same-try i{
    margin-top: 5px;
    font-size: 20px;
}

/* ################################### */

.section001{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
}

.products-show{
    display: flex;
    justify-content: space-evenly;
}

.products-show img{
    width: 150px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.products-show p{
    text-align: center;
    &:hover{
        cursor: pointer;
        color: lightgrey;
    }
}
